# Project Files unneeded by docker
.dockerignore

.git
.gitignore
.github
.clang-format

AUTHORS
CONTRIBUTING.md
CONTRIBUTORS
LICENSE
README.md
docs

# CI
bazel/Makefile
bazel/docker
bazel/docs
bazel/cache

cmake/Makefile
cmake/docker
cmake/docs
bazel/cache

# Native build
bazel-*/
build/
build*/

# Editor directories and files
*.user
*.swp
